<!DOCTYPE html>
<html>
<head>
  <title>vue demo 2</title>
</head>
<body>
  <div>
    back to <a href="index.html">page1</a>
  </div>
  <div id="app2">
    <ul>
      <vue-item v-for="item in fruits" v-bind:list="item"></vue-item>
    </ul>
    <!-- 计算缓存 -->
    <h2>计算缓存</h2>
    <p>Message: {{message}}</p>
    <p>ReverseMessage: {{ reverseMessage }}</p>
    <p>Methods => {{ rMessage() }}</p>
    <h2>时间</h2>
    <p>Time(computed) => {{ showTime }}</p>
    <p>Time(methods) => {{ timer() }}</p>
    <p>fullName => {{ fullName }}</p>
    <!-- set & get 方法 -->
    <h2>Set Get 方法</h2>
    <p><input type="text" v-model="inputValue"></p>
    <p><button v-on:click="setName">Change Name</button></p>
  </div>
  <div>
    now go continue <a href="index3.html">page3</a>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="main2.js"></script>
</body>
</html>